# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# Telegram Sessions
*.session

# Logs
logs/

# Cache
data/cache/

# Exports (اختياري حسب احتياجك)
data/exports/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pytest
.pytest_cache/